{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h3>Об авторе:</h3>
    <article><br>Привет! Меня зовут Давлат. Мне 38 лет, есть семья, дочь (9 лет) и
    сын (1,4
    года).
    <br>Живу в Твери, работаю в московской организации ООО "Пожтехника",
    <br>проектируют системы противопожарной безопасности (АПС, ОС, СКУД и
    т.п.).
    <br>Мое учебное место выглядит так:
    </article>
    <img class="p-4" src="{% static 'img/img01.jpg' %}" width="400"
         height="300">
{% endblock %} 